.navbar {
    display: flex;
    background-color: rgb(54, 54, 54);
}

.nav-list {
    display: flex;
}


.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: whitesmoke;
}

.nav-list a:hover {
    background-color: rgb(134, 134, 134);

}
.nav-btn {
    display: none;
}

@media (max-width: 1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 2px;
        border: none;
        background-color: rgb(54, 54, 54);
        color: white; 
        display: block;
        cursor: pointer;
        
    }
    .nav-list {
        display: none;
    }

    .nav-btn:hover {
        background-color: rgb(134, 134, 134);

    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;

        background-color: rgb(54, 54, 54);
    }
    .navbar {
        justify-content: space-between;
     }
}

